.displayweather {
    width: 62%;
    margin-top: 20px !important;
    padding: 10px;
    margin: auto;
    /* -webkit-box-shadow: 0 0 10px lightgrey;
        box-shadow: 0 0 10px lightgrey;  */
}

.displayweather .maincard {
    /* width: 150px; */
    margin-top: 10px;
    align-self: left;
    margin-left: 1%;
    padding: 0 10px;
    position: relative;
}


.displayweather h1 {
    font-size: 2rem;
    text-align: left;
}

.displayweather .weather-icon {
    width: 100px;
    position: absolute;
    top: -20px;
    margin-left: -45%;
}

.displayweather .weather-main {
    position: absolute;
    top: 60px;
    left: 12px;
    font-weight: 500;
    font-size: 1.2rem;
}

.displayweather .weather-description {
    position: absolute;
    left: 10px;
    font-size: 1.4rem;
}

.displayweather .weatherdetails {
    margin-left: 50px;
    margin-right: 50px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.displayweather .weatherdetails .section1 {
    justify-self: right;
    width: 450px;
    margin-right: 1px;
    margin-top: 20px;
}

.displayweather .weatherdetails .section2 {
    justify-self: left;
    width: 430px;
    margin-left: 1px;
    margin-top: 20px;
}

h4 {
    text-align: left;
    margin-right: 30px;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.detail{
    /* display: flex;
    justify-content: space-between; */
    padding: 10px;
    background-color: aliceblue;
    margin: 10px 0;
}

.detail>p{
    font-size: 15px;
    text-align: left;
    margin: 0 ;
    padding: 0 ;

}

