.forecast-data {
    width: 63%;
    margin: auto;
    -webkit-box-shadow: 0 0 10px lightgrey;
    box-shadow: 0 0 10px lightgrey;
}

.current{
    display: flex;
    padding: 30px 0 0px 30px;
    margin: 0;
}

.text{
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    /* padding: 30px 0 0 30px; */
}

.temp-icon{
    width: 80px;
    margin: 0;
    margin-top: -5px;
}