.input {
    width: 60%;
    margin: 10px 0;
    padding: 10px;
    height: 32px;
    border-radius: 5px;
    font-size: 15px;
    -webkit-box-shadow: 0 0 10px lightgrey;
    box-shadow: 0 0 10px lightgrey;
    border: none;
    cursor: pointer;
    padding-left: 37px;
    font-weight: bold;
}

.input:hover {
    -webkit-box-shadow: 0 0 30px lightgrey;
    box-shadow: 0 0 30px lightgrey;
}

.input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 30px lightgrey;
    box-shadow: 0 0 30px lightgrey;
}

.input::placeholder {
    color: black;
    font-weight: bold;
}

.location {
    width: 30px;
    position: absolute;
    top: 20px;
    padding-left: 5px;
}

.data {
    -webkit-box-shadow: 0 0 10px lightgrey;
    box-shadow: 0 0 10px lightgrey;
    width: 62%;
    margin: auto;
}

.main-temp {
    text-align: left;
    margin: 20px 40px 10px 10px;
    padding: 30px 0 0 30px;
}

.weather-icon {
    width: 70px !important;
    position: absolute;
    margin-left: -25%;
    top: 41%;
}